
@{
    ViewBag.Title = "WorkingLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content" style="font-size:12px;min-height:100%">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                <div id="divNewInward" style="">
                    <form action="/Master/SaveWorkingLogin" enctype="multipart/form-data" method="post">
                        <input id="AuthoriserString" name="AuthoriserString" value="-1" type="hidden">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="widget stacked">
                                        <div class="widget-header">
                                            <i class="fa fa-check-circle"></i>
                                            <h3>

                                                Login Entry
                                                <br />
                                                <br />
                                                <br />

                                            </h3>
                                        </div>
                                        <div class="widget-content">
                                            <div class="row">
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('[data-toggle="tooltip"]').tooltip();
                                                    });
                                                </script>



                                                <div class="col-md-3">
                                                    <div class="form-group" id="divUserID">
                                                        <label for="name" class="col-md-8">User ID</label>
                                                        <span id="UserIdEr">
                                                        </span>
                                                        <div class="col-md-12">

                                                            <input class="form-control" id="txtUserID" required name="txtUserID" maxlength="50" value="" type="text" data-toggle="tooltip" data-placement="bottom" ToolTip="Please Enter UserID">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divUPassword">
                                                        <label for="name" class="col-md-8">Password</label><div class="col-md-12">


                                                            <input class="form-control" id="txtUPassword" required name="txtUPassword" maxlength="50" value="karam@123" type="text" data-toggle="tooltip" data-placement="bottom" ToolTip="Please Enter UPassword">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-3" style="display:none;">
                                                    <div class="form-group" id="divS_Location">
                                                        <label for="name" class="col-md-8">Location</label><div class="col-md-12">

                                                            <input class="form-control" id="txtS_Location" required name="txtS_Location" value="NA" type="text" data-toggle="tooltip" data-placement="bottom" ToolTip="Please Enter S_Location">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-3" style="display:none;">
                                                    <div class="form-group" id="divWStatus">
                                                        <label for="name" class="col-md-8">WStatus</label><div class="col-md-12">

                                                            <input class="form-control" id="txtWStatus" required name="txtWStatus" value="NA" type="text" data-toggle="tooltip" data-placement="bottom" ToolTip="Please Enter WStatus">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divRoleType">
                                                        <label for="name" class="col-md-8">Role Type</label><div class="col-md-12">

                                                            @*<input class="form-control" id="txtRoleType" required name="txtRoleType" value="" type="text" data-toggle="tooltip" data-placement="bottom" ToolTip="Please Enter RoleType">*@
                                                                                                                <select tabindex="-1" class="form-control select2_group ddlIDType" id="txtRoleType" data-val="true" name="txtRoleType">
                                                                                                                    @*<option selected>--Select--</option>*@
                                                                                                                    @*<option value="A">Admin</option>*@
                                                                                                                    <option value="S">Security</option>
                                                                                                                    <option value="D">Desk</option>
                                                                                                                    <option value="B">Both</option>
                                                                                                                </select>


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divEmail">
                                                        <label for="name" class="col-md-8">Email</label>

                                                        <span id="EmailEr">
                                                        </span>
                                                        <div class="col-md-12">

                                                            <input class="form-control" id="txtEmail" required name="txtEmail" value="" maxlength="100" type="text" data-toggle="tooltip" data-placement="bottom" ToolTip="Please Enter Email">



                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divRegionId">
                                                        <label for="name" class="col-md-8">Region</label><div class="col-md-12">
                                                            <input class="form-control" id="txtRegionId" name="txtRegionId" value="" type="text" style="display:none;" />
                                                            <select tabindex="-1" class="form-control select2_group" required name="ddlRegion" id="ddlRegion">

                                                                @*<option selected disabled>--Please Select--</option>*@
                                                            </select>



                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <br />

                                                    <input class="btn btn-primary btnSave" id="btnMSave" value="Submit" type="submit">

                                                    <input class="btn btn-primary" value="Back" type="button" onclick="goBack()">

                                                </div>







                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(document).ready(function () {



        $("#ddlRegion").change(function () {
            var ddlRegion = $('#ddlRegion option:selected').val();
            $("#txtRegionId").val(ddlRegion)
        });


        $("#txtEmail").change(function () {

            var atSymbol = $("#txtEmail").val().indexOf("@@");

            //Check minimum valid length of an Email.
            if ($("#txtEmail").val().length <= 2) {
                alert('please enter correct email');
                $("#txtEmail").val('');
                return false;
            }
            //If whether email has  character.
            if ($("#txtEmail").val().indexOf("@@") == -1) {
                alert('please enter correct email');
                $("#txtEmail").val('');
                return false;
            }


            var parts = $("#txtEmail").val().split("@@");
            var dot = parts[1].indexOf(".");
            var len = parts[1].length;
            var dotSplits = parts[1].split(".");
            var dotCount = dotSplits.length - 1;


            //Check whether Dot is present, and that too minimum 1 character after
            if (dot == -1 || dot < 2 || dotCount > 2) {
                $("#txtEmail").val('');
                alert('please enter correct email');
                return false;
            }

            //Check whether Dot is not the last character and dots are not repeated.
            for (var i = 0; i < dotSplits.length; i++) {
                if (dotSplits[i].length == 0) {
                    $("#txtEmail").val('');
                    alert('please enter correct email');

                    return false;
                }
            }


            return true;




            //alert('Please Enter corect email')
            //$("#fvVisitorEmail").val('');
            //return false;
        });


        $("#btnMSave").click(function () {




            var ddlRegion = $('#ddlRegion option:selected').text()

            //var ddlRegion = $('#W_ID option:selected').text()
            //var ddlRegion = $('#RegionId option:selected').text()


            /* alert(ddlRegion);  */

            if ($("#UserID").val() == "") {
                alert("Please Enter UserID");
                return false;
            }



            else if ($("#UPassword").val() == "") {
                alert("Please Enter UPassword");
                return false;
            }



            else if ($("#S_Location").val() == "") {
                alert("Please Enter S_Location");
                return false;
            }



            else if ($("#WStatus").val() == "") {
                alert("Please Enter WStatus");
                return false;
            }



            else if ($("#RoleType").val() == "") {
                alert("Please Enter RoleType");
                return false;
            }



            else if ($("#Email").val() == "") {
                alert("Please Enter Email");
                return false;
            }



            else if (ddlRegion == "--Please Select--") {
                alert("Please Select RegionId");
                return false;
            }

        });
    });

</script>
<script>

    $(document).ready(function () {


                 var funddlRegionFill = (function () {
                    //debugger;

                    var ddlRegion = "aaa";

                    $.ajax({


                        url: '@Url.Action("GetRegionList", "Master")',
                        type: 'Get',
                        contenType: 'application/json charset utf-8',


                        dataType: 'json',
                        data: { Region: ddlRegion },
                        success: function (data) {

                            var s;
                            s = "<option value='--Please Select--'>--Please Select--</option>";
                            $("#ddlRegion").append(s);
                            for (var i = 0; i < data.length; i++) {

                                s = "<option value='" + data[i].RegionId + "'>" + data[i].Region + "</option>";

                                $("#ddlRegion").append(s);


                            }
                            //---------

                        }
                    });



                });
                funddlRegionFill();



                var funddlCompanyFill = (function () {
                    var ddlRegion = "aaa";
                    $.ajax({
			 url: '@Url.Action("GetDepartmenByRegiontList", "Home")',
                        type: 'Get',
                        contenType: 'application/json charset utf-8',
                        dataType: 'json',
                        data: { Region: ddlRegion },
                        success: function (data) {
                            var s;
                            for (var i = 0; i < data.length; i++)
							{
                                s = "<option value='" + data[i].CompanyId + "'>" + data[i].Company + "</option>";
								$("#ddlCompany").append(s);

                            }

                        }
                    });

                });
                funddlCompanyFill();

            });

</script>

<script type="text/javascript">


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>


<script>


    function IsEmail(email) {

        //alert('AKA');
        var regex = "\w+([-+.]\w+)*\w+([-.]\w+)*\.\w+([-.]\w+)*";
        if (!regex.test(email)) {
            return false;
        } else {
            return true;
        }
    }

</script>

<script>
    $("#txtEmail").change(function () {


        var Email_ID = $(this).val();
        var Widval = 0;


        $.ajax({

            // url: '../Master/CheckWorkingLoginEmailExists?Email=' + Email_ID,
            url: '../Master/CheckWorkingLoginEmailExists?Email=' + Email_ID + '&WId=' + Widval,
            // url: '../Home/PartNoExists?PartNo=' + ChildItemCode + '&MID=' + MasterItemVal,
            datatype: "JSON",
            type: "Get",
            success: function (data) {
                if (data != null) {

                    if (data == 1) {
                        //$("#EmailEr").text($("#txtEmail").val() + "  Exists.").css("color", "red");
                        //$('input[type="submit"]').attr('disabled', 'disabled');
                        $("#txtEmail").val('');
                        swal({
                            title: "warning",
                            text: Email_ID + " Email Already Exists",
                            icon: "warning",
                            type: "warning"
                        }, function () {

                        });

                    }
                    else {
                        // $("#EmailEr").text("").css("color", "red");
                        //$('input[type="submit"]').removeAttr('disabled');

                    }


                }
                else {
                    Location.href = "../Home/Login";
                }
            }
        });





    });

    $("#txtUserID").change(function () {

        var Widval = 0;
        var User_ID = $(this).val();



        $.ajax({

            // url: '../Master/CheckWorkingLoginUserIdExists?UserId=' + User_ID,
            url: '../Master/CheckWorkingLoginUserIdExists?UserId=' + User_ID + '&WId=' + Widval,
            // url: '../Home/PartNoExists?PartNo=' + ChildItemCode + '&MID=' + MasterItemVal,
            datatype: "JSON",
            type: "Get",
            success: function (data) {
                if (data != null) {

                    if (data == 1) {
                        // $("#UserIdEr").text($("#txtUserID").val() + "  Exists.").css("color", "red");
                        //$('input[type="submit"]').attr('disabled', 'disabled');
                        $("#txtUserID").val('');
                        swal({
                            title: "warning",
                            text: User_ID + " User Id Already Exists",
                            icon: "warning",
                            type: "warning"
                        }, function () {

                        });



                    }
                    else {
                        $("#UserIdEr").text("").css("color", "red");
                        //   $('input[type="submit"]').removeAttr('disabled');

                    }


                }
                else {
                    Location.href = "../Home/Login";
                }
            }
        });





    });
</script>

@*<script>
    function goBack() {
        window.history.back();
    }
</script>*@

<script>
    function goBack() {
        /*  window.history.back();*/
        window.location.href = "../Master/WorkingLogin";

    }
</script>
