@model IEnumerable<Trump.Models.Msgtemplate>
@{
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Gridmvc.css" rel="stylesheet" />

@using GridMvc.Html;
@using GridMvc.DataAnnotations;
@using GridMvc.Sorting;
@helper ADDCOLUMN(Trump.Models.Msgtemplate tb)
{
    <a href="../Master/EditTemplate?ID=@tb.M_ID">
        <img src="~/Layout/Images/51-512.png" width="30" height="30" />
    </a>
}
<link href="~/Layout/Css/jtable_jqueryui.css" rel="stylesheet" />
<link href="~/Layout/Css/jquery.dataTables_themeroller.css" rel="stylesheet" />

<div class="content" style="font-size:12px;min-height:100%">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">                                
                <div id="VisitorCompanyTableContainer">
                    <div class="jtable-main-container">                        
                        <div class="jtable" id="jtable">
                            <div class="table table-bordered table-responsive" id="table2">
                                @Html.Grid(Model).Columns(columns =>
                           {
                               columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(z => ADDCOLUMN(z));
                               columns.Add(c => c.M_ID).Titled("ID").Filterable(true).Sortable(true).Css("hidden");
                               columns.Add(c => c.Action).Titled("Script").Filterable(true).Sortable(true);
                               columns.Add(c => c.Template).Titled("For Visitor Appointment").Filterable(true).Sortable(true);   
                           }).Sortable(true).WithPaging(10)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Layout/Scripts/jtable.2.3.0/jquery.jtable.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>