
@{
    ViewBag.Title = "ForgetPassword";
    Layout = null;
}

<html idmmzcc-ext-docid="376344576">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eNX</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Layout/Css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/datepair/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/datepair/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/Layout/Css/base-admin-3.css" rel="stylesheet" />
    <link href="~/Layout/Css/base-admin.css" rel="stylesheet" />
    <link href="~/Layout/Css/base-admin-3-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Layout/Css/custom-dashboard.css" rel="stylesheet" />
    <link href="~/Layout/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Layout/Css/OutwardInwardTable.css" rel="stylesheet" />
    <link href="~/Layout/Css/pages/dashboard.css" rel="stylesheet" />
    <link href="~/Layout/Css/custom.css" rel="stylesheet" />

    <link href="~/Layout/JS/plugins/msgbox/jquery.msgbox.css" rel="stylesheet" />
    <link href="~/Layout/Content/menu.css" rel="stylesheet" />
</head>
<body>
    <div class="main" dir="ltr" style="font-size:12px;">
        <div class="header">
            <div class="header_resize">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div id="logindisplay">
                        <input id="AuthorizationRequestTimeOut" name="AuthorizationRequestTimeOut" value="30" type="hidden">

                        <div class="col-md-12" style="margin: 0px; padding: 0px">
                            <div class="col-md-8" style="margin-left: 0%; padding: 0px;">
                                <div class="nav navbar-nav navbar-left">
                                    <img id="imgCompanyLogo" src="~/Layout/Images/inlogo1.png" alt="" />
                                    <div style="float: right; color: black; font-size: 24px; margin-top: 18px; margin-left: 5px;font-weight:bold;">PN INTERNATIONAL PVT LTD.</div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </nav>
            </div>
            <br />
        </div>
    </div>
    <div class="content">
        <form action="~/Home/ForgetPassword" method="post">
            <div class="form-horizontal col-md-12">
                <div class="main">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-header">
                                    <i class="icon-ok"></i>
                                    <h3>Forgot Password</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="bold" id="SMessage" style="color: Green; font-weight: bold">
                                        <br>
                                    </div>
                                    <div class="ErrorDiv" id="Message" style="display: none">
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-group">
                                            
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label for="name" class="col-md-8">
                                                        PNI Code
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" required placeholder="User Id" name="pniCodeF" type="text" style="text-transform:uppercase;">

                                                    </div>
                                                    <div class="col-md-2">
                                                        <i class="icon-asterisk required" style="margin-left: -25px;"></i>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div style="padding-left: 20px;">
                                            <input value="Submit" class="btn btn-primary" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
    <script src="~/bootstrap-sweetalert-master/dist/sweetalert.js"></script>
    @if (TempData["wrongPNI"] != null)
    {
        <script>
            $(document).ready(function () {
                swal({
                    title: "Alert",
                    text: "PNI is not correct",
                    icon: "success",
                    type: "success"
                }, function () {
                        window.location.reload();
                    //window.location.href = "../Master/Visitors";
                });
            })
        </script>
    } 
    
    @if (TempData["pwdChange"] != null)
    {
        <script>
            $(document).ready(function () {
                swal({
                    title: "success",
                    text: "Password changed and it send to your mobile number and email id",
                    icon: "success",
                    type: "success"
                }, function () {
                        //window.location.reload();
                    window.location.href = "../Home/Login";
                });
            })
        </script>
    }

</body>

</html>




@*<div class="container">
        <form class="login100-form validate-form" action="~/Home/ForgetPassword" method="post">
            <span class="login100-form-title p-b-34 p-t-27">
               Enter Your PNI_Code
            </span>
            <div class="wrap-input100 validate-input" data-validate="Enter username">
                <input type="text" placeholder="User Id" name="pniCodeF" class="input100" />
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>
            </div>
        </form>
    </div>*@